<!--全ての共通のHTMLテンプレート-->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{$title|default:"Niwaka World Cup Navi"}</title>
    <link rel="stylesheet" href="/css/header.css">
    {block name="styles"}{/block}  <!-- 各ページごとのCSSをここに差し込む -->
</head>
<body>
<header>
<!--    決まった名前のファイルを持ってくるのはincludeを使う-->
    {include file="header.html"}
</header>
<main>
<!--    ここにページごとの内容を入れることができる(htnl側で)-->
    {include file=$filename}
</main>
<footer>
    {include file="footer.html"}
</footer>
</body>
</html>