<div class="text_center">
    <h1>グループリーグについて</h1>
    <div class="font-size-24px">
        <p>ワールドカップは、まず「グループリーグ」で各チームが総当たりで戦います。</p>
        <p>上位チームが「決勝トーナメント」に進みます。</p>
    </div>
</div>
<div style="max-width:1200px;" class="margin_auto justify-content">
    <div style="max-width:1200px;" class="card margin_auto margin-4px">
        <div class="flex-direction-row align-items-center">
            <table id="no-border" style="width:500px;">
                <tr>
                    <th style="background-color: white">
                        <div class="flex-direction-row ">
                            <h2 class="world-cup-about-title">グループリーグの仕組み</h2>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td class="flex-direction-row align-items-center gap-16px">
                        <img src="\templates\images\world_cup_about\group.png" alt="グループ" style="width:100px; height: 100px;">
                        <div class="text-left">
                            <h2 class="text-left">4チームが1つのグループに</h2>
                            <p class="mb-0">1つのグループは4チーム。</p>
                            <p class="mt-0">今大会は12グループあります。</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="flex-direction-row align-items-center gap-16px">
                        <img src="\templates\images\world_cup_about\round_robin_match.png" alt="総当たり" style="width:100px; height: 100px;">
                        <div class="text-left">
                            <h2 class="text-left">総当たり</h2>
                            <p>同じグループの4チームが総当たり（1回ずつ対戦）をしてポイント（勝ち点）を競います。</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="flex-direction-row align-items-center gap-16px">
                        <img src="\templates\images\world_cup_about\trophy.png" alt="トロフィー" style="width:180px; height: 100px;">
                        <div class="text-left">
                            <h2 class="text-left">上位チームが決勝トーナメントへ</h2>
                            <p class="mb-0">各グループの上位2チームと、成績の良い3位チームが次のステージ（決勝トーナメント）に進出できます。</p>
                            <p class="mt-0">合計32チームが次のステージに進めます。</p>
                        </div>
                    </td>
                </tr>
            </table>
            <img src="\templates\images\world_cup_about\group_stage.png" alt="グループリーグ" style="width:550px; height: 450px; margin-top:100px" >
        </div>
    </div>
</div>
<div style="max-width:1200px;" class="margin_auto justify-content">
    <div style="max-width:1200px" class="card margin-4px">
        <div class="flex-direction-row ">
            <h2 class="world-cup-about-title">勝ち点ってなに？</h2>
        </div>
        <div style="margin-left: 20px" class="text-left">
            <p>試合の結果によってもらえるポイントのことです。</p>
            <p>グループリーグでは、この勝ち点の合計で順位が決まります。</p>

            <p>勝ち点が同じ場合は、
            「得失点差（どれだけ点を取って、どれだけ取られたか）」などで順位が決まります。</p>

            <p>※このルールはグループリーグだけで使われ、決勝トーナメントでは使いません。</p>
        </div>
        <div class="flex-direction-row align-items-center">
            <table style="max-width: 500px; height: 340px; margin-left: 10px;" class="text-left">
                <tr>
                    <th class="text-align-center width-100px padding-20px">勝ち<br><span class="font-size-24px">3点</span></th>
                    <td class="padding-20px">試合に勝つと3ポイントがもらえます</td>
                </tr>
                <tr>
                    <th class="text-align-center width-100px padding-20px">引き分け<br><span class="font-size-24px">1点</span></th>
                    <td class="padding-20px">試合が引き分けだと両チームに1ポイントもらえます</td>
                </tr>
                <tr>
                    <th class="text-align-center width-100px padding-20px">負け<br><span class="font-size-24px">0点</span></th>
                    <td class="padding-20px">試合に負けるとポイントはもらえません</td>
                </tr>
            </table>
            <img src="\templates\images\world_cup_about\match_result_example_points.png" alt="対戦例" style="width:550px; height: 450px;">
        </div>
    </div>
</div>
<div style="max-width:1200px;" class="margin_auto justify-content">
    <div style="max-width:1200px" class="card margin-4px">
        <div class="flex-direction-row ">
            <h2 style="background-color:#FFFFCC; border: #FFFFCC; color: black" class="world-cup-about-title">とりあえずこれだけ覚えとけ！</h2>
        </div>
            <div class="flex-direction-row">
            <ul>
                <li class="text-left">勝つと勝ち点<span class="bold">3点</span>、引き分けは<span class="bold">1点</span>、負けは<span class="bold">0点</span></li>
                <li class="text-left">各グループの<span class="bold">上位2チーム</span>　＋　3位チームでも成績の良い<span class="bold">8チーム</span>が決勝トーナメントへ進める！</li>
                <li class="text-left">48チームの中から、計32チームが決勝トーナメントへ！</li>
            </ul>
            <img src="\templates\images\world_cup_about\soccer_ball_character.png" alt="サッカーボール" style="width:200px; height: 200px;background-color: white">
        </div>
    </div>
</div>
</div>