<div class="text_center">
    <h1>決勝トーナメントについて</h1>
    <div class="font-size-24px">
        <p>グループリーグを勝ち上がったチームだけが進める</p>
        <p><span class="bold">負けたら即終了の一発勝負のトーナメントです！</span></p>
        <p>最後まで勝ち続けた１チームがワールドカップの王者になります！</p>
    </div>
</div>




<div style="max-width:1200px;" class="margin_auto justify-content">
    <div style="max-width:1200px" class="card margin-4px">
        <div class="flex-direction-row ">
            <h2 class="world-cup-about-title">決勝トーナメントの流れ</h2>
        </div>
        <div style="display:flex; justify-content: space-around;">
            <div style="margin-left: 20px">
               <h3 >ベスト32</h3>
                <div style="width: 100px;background-color:#E3F2FD;" class="card">
                    <p>勝ち上がった32チームが
                        <br>ここから一発勝負で<br>戦います</p>
                </div>
            </div>
            <i style="display: flex;  align-items: center;" class="fa-solid fa-play"></i>
            <div style="margin-left: 20px">
                <h3>ベスト16</h3>
                <div style="width: 100px;background-color:#E8F5E9;" class="card">
                    <p>勝った<br>16チームが<br>ベスト16へ</p>
                </div>
            </div>
            <i style="display: flex;  align-items: center;" class="fa-solid fa-play"></i>
            <div style="margin-left: 20px">
                <h3>ベスト8</h3>
                <div style="width: 100px;background-color:#FFF3E0;" class="card">
                    <p>勝った<br>8チームが<br>ベスト8へ</p>
                </div>
            </div>
            <i style="display: flex;  align-items: center;" class="fa-solid fa-play"></i>
            <div style="margin-left: 20px">
                <h3>ベスト4</h3>
                <div style="width: 100px;background-color:#FFEBEE;" class="card">
                    <p>勝った<br>4チームが<br>ベスト4へ</p>
                </div>
            </div>
            <i style="display: flex;  align-items: center;" class="fa-solid fa-play"></i>
            <div style="margin-left: 20px; margin-right: 20px">
                <h3>決勝・3位決定戦</h3>
                <div style="width: 100px;background-color:#FFF8E1;" class="card">
                    <p>勝ち残った<br>2チームが<br>決勝！</p>
                    <p>3位決定戦<br>もやります</p>
                </div>
            </div>
        </div>
        <p class="text-left"><a href="https://www.footballchannel.jp/2026/03/19/post819372/">詳しいトーナメント表はこちらから</a></p>
    </div>
</div>


<div style="max-width:1200px;" class="margin_auto justify-content">
    <div style="max-width:1200px" class="card margin-4px">
        <div class="flex-direction-row ">
            <h2 class="world-cup-about-title">決勝トーナメントのポイント</h2>
        </div>
        <div class="flex-direction-row">
            <div class="flex-direction-row">
                <div class="align-items-center">
                    <img src="\templates\images\world_cup_about\icon_clock.png" alt="感嘆符アイコン" style="width:150px; height: 100px;">
                </div>
                <div class="text-left">
                    <h3 class="display: inline;">負けたら終わり！</h3>
                    <p>決勝トーナメントは<br>1試合ごとの勝負<br>負けたチームはそこで帰宅です</p>
                </div>
            </div>

            <div style="margin-right: 20px;" class="flex-direction-row">
                <div class="align-items-center">
                    <img src="\templates\images\world_cup_about\clock.png" alt="時計" style="width:150px; height: 100px;">
                </div>
                <div class="text-left">
                    <h3 class="display: inline;">延長戦・PK戦がある！</h3>
                    <p>90分で決まらない場合は延長戦<br>それでも決まらなければ<br>PK戦で決着！</p>
                </div>
            </div>

            <div class="flex-direction-row">
                <div class="align-items-center">
                    <img src="\templates\images\world_cup_about\trophy.png" alt="時計" style="width:100px; height: 100px;">
                </div>
                <div class="text-left">
                    <h3 class="display: inline;">優勝までに5試合！</h3>
                    <p>トーナメントから優勝<br>するには5試合を勝ち抜く<br>必要があります</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="max-width:1200px;" class="margin_auto justify-content">
    <div style="max-width:1200px" class="card margin-4px">
        <div class="flex-direction-row ">
            <h2 style="background-color:#FFFFCC; border: #FFFFCC; color: black"  class="world-cup-about-title">最低限覚えておきたいルール</h2>
        </div>
        <div style="margin-left: 20px" class="text-left">
            <ul>
                <li class="text-left"><span class="bold">試合時間</span>：90分（前半45分＋後半45分）</li>
                <li class="text-left"><span class="bold">延長戦</span>：30分（90分で決着がつかない場合実施）</li>
                <li class="text-left"><span class="bold">PK戦</span>：5人ずつのキッカーで勝敗を決定（延長戦でも決着がつかない場合実施）</li>
                <li class="text-left"><span class="bold">交代</span>：基本は5人まで</li>
            </ul>
        </div>

    </div>
</div>
