<h1 class="text_center">ワールドカップ（W杯）とは？</h1>
<div class="text_center">

</div>



<div style="max-width:1200px;" class="margin_auto">
    <div style="max-width:1200px" class="card margin-4px">
        <div class="flex-direction-row align-items-center">
            <img src="\templates\images\world_cup_about\soccer_ball.png" alt="サッカーボール" style="width:100px; height: 150px">
            <div class="flex-direction-row ">
                <h2 >4年に1度、サッカーの世界一を決める大会です</h2>
            </div>
        </div>
        <div style="display:flex; flex-direction:column; text-align: left">
            <ul>
                <li>2026年は<span class="bold">48か国</span>が<span class="bold">12グループ</span>に分かれ<span class="bold">104試合</span>が行われます</li>
                <li>アメリカ/メキシコ/カナダの3か国で行われます。</li>
                <li>前回大会(2022年）優勝国はアルゼンチンです。</li>
            </ul>
        </div>
    </div>
    <div style="max-width:1200px;margin-top:20px" class="card margin-4px">
        <div class="flex-direction-row ">
            <h2 class="world-cup-about-title">ワールドカップの歴史</h2>
        </div>
        <div style="display:flex; flex-direction:column; text-align: left">
            <ul>
                <li>1930年に第1回大会をウルグアイで開催</li>
                <li>1998年～2022年は32チーム参加、2026年（今回）から48チームに変更</li>
                <li>歴代最多優勝国はブラジルの5回</li>
            </ul>
        </div>
    </div>

    <div style="max-width:1200px;margin-top:20px" class="card margin-4px">
        <div class="flex-direction-row">
            <h2 class="world-cup-about-title">日本の成績</h2>
        </div>
        <div style="display:flex; flex-direction:column; text-align: left">
            <ul>
                <li>1998年に初出場、2026年で8大会連続出場！</li>
                <li>最高成績はベスト16(2002年、2010年、2018年、2022年）</li>
                <li>今大会は優勝を狙います</li>
            </ul>
        </div>
    </div>

    <div style="max-width:1200px;margin-top:20px" class="card margin-4px">
        <div class="flex-direction-row">
            <h2 class="world-cup-about-title">豆知識</h2>
        </div>
        <div style="display:flex; flex-direction:column; text-align: left">
        <ul>
            <li>経済効果はオリンピックよりはるかに上！</li>
            <li>2002年の日韓大会は「初の共同開催」、2026年（今回）はアメリカ、メキシコ、カナダの「初の3か国共同開催」です。 </li>
            <li>唯一全大会出場しているのはブラジル</li>
        </ul>
    </div>
    </div>
</div>