<h1 class="text_center">ワールドカップ（W杯）とは？</h1>
<div class="text_center">
    <p>世界中の48か国が参加し、サッカーの世界一を決めるワールドカップ（W杯）！</p>
    <p>大会の仕組みをわかりやすく説明します⚽</p>
</div>


<div class="flex-direction-row justify-content">

<a href="/index.php?action=/world_cup_about/world_cup_about" class="card margin-4px text-decoration-none">
    <div class="flex-direction-row">
        <img src="\templates\images\world_cup_about\trophy.png" alt="トロフィー" style="width:100px; height: 100px">
        <h2>ワールドカップとは</h2>
    </div>
    <p>48か国が4グループに分かれて戦います。</p>
</a>

<div class="card margin-4px">
    <div class="flex-direction-row">
        <img src="\templates\images\world_cup_about\calender.png" alt="トロフィー" style="width:100px; height: 100px">
        <h2>グループリーグについて</h2>
    </div>
    <p>次のステージへ進む条件、勝ち点、得失点差について</p>
</div>

<div class="card margin-4px">
    <div class="flex-direction-row">
        <img src="\templates\images\world_cup_about\tournament.png" alt="トロフィー" style="width:100px; height: 100px">
        <h2>決勝トーナメントについて</h2>
    </div>
    <p>(文章考える）)</p>
</div>


</div>