
.header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    list-style: none;
    flex-direction: row;
    gap: 30px;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center}

.right {
    margin-left: auto;
}