<div style="max-width: 1600px; gap:16px;" class=" border left-alignment max-width-800 flex-direction-row margin-auto ">
    <img src="/templates/images/national-flag/{$country->getFlagImagePath()}" alt="flag" height=240 width=360>
    <h1>{$country->getName()}</h1>
    <p>（出場回数：{$country->getAppearances()} 回）</p>
</div>
<div style="display:flex; flex-direction:row; max-width: 1600px;" class="margin-auto">

    <div style="display:flex; flex-direction: column; width:100%; max-width: 800px;">
        <div class="border max-width-800 margin-4px height-200px">
            <div class="text-color-green gap-4px align-items-center">
                <i class="fas fa-info-circle inline-block"></i>
                <h2 class="text-left inline-block">基本情報</h2>
            </div>
            <div style="justify-content: space-around;" class="flex-direction-row">
                <div style="text-align: center">
                    <i class="fas fa-users font-size-24px text-color-green"></i>
                    <p>人口</p>
                    <h3>{$country->getPopulation()}</h3>
                </div>
                <div style="text-align: center">
                    <i class="fas fa-globe font-size-24px text-color-green"></i>
                    <p>地域</p>
                    <h3>{$country->getRegion()}</h3>
                </div>
                <div style="text-align: center">
                    <i class="fas fa-trophy font-size-24px text-color-green"></i>
                    <p>世界ランキング</p>
                    <h3>{$country->getFifaRank()}位/210位</h3>
                </div>
            </div>
        </div>
        <div style="height:600px;" class="border max-width-800 margin-4px">
            <div class="text-color-green align-items-center gap-4px">
                <i class="fas fa-map-marker-alt"></i><h2 class="text-left inline-block">場所</h2>
            </div>
            <iframe src="{$country->getMap()}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>


    </div>


    <div style="display:flex; flex-direction: column; width:100%; max-width: 800px;">
        <div class="border max-width-800 margin-4px height-200px">
            <div class="text-color-green align-items-center gap-4px">
                <i class="fas fa-lightbulb"></i><h2 class="text-left inline-block">注目ポイント</h2>
            </div>
            {$country->getHighlights()}

        </div>

        <div class="border max-width-800 margin-4px height-360px">
            <div class="text-color-green align-items-center gap-4px">
                <i class="fas fa-star"></i>
                <h2 class="text-left inline-block">有名選手</h2>
            </div>
            <div class="flex-direction-row">


                <div>
                    {$country->getFamousPlayers()}
                </div>
            </div>
        </div>





        <div class="border max-width-800 margin-4px height-200px">
            <div class="text-color-green align-items-center gap-4px">
                <i class="fas fa-pen"></i><h2 class="text-left inline-block">メモ</h2>
            </div>
            <form action="/index.php?action=confirm_country_detail&country_id={$country->getId()}" method="post" name="country-memo" style="display: flex; flex-direction: column;   gap: 10px;">
                <textarea style="height:50px" cols="40" name="memo">{$country->getMemo()}</textarea>
                <div style="text-align: right;">
                    <input style=" width: 150px;" type="submit" value="確認画面へ">
                </div>
            </form>
        </div>
    </div>
</div>



