{block name="styles"}
<link rel="stylesheet" href="/css/header.css">
{/block}

<div class="header">
    <div style="margin-left:10px;">
        <a href="index.php"><img src="templates/images/icon.png" alt="log" style="width: 100px;"></a>
    </div>
    <div style="margin-right:10px;" class="right">
        <ul>
            <li><a href="index.php?action=/world_cup_about/world_cup_overview">ワールドカップとは</a></li>
            <li><a href="index.php?action=diagnosis/diagnosis_start">診断</a></li>
            <li><a href="index.php?action=japan_team">日本代表</a></li>
            <li><a href="index.php?action=match_schedule">グループリーグ日程表</a></li>
            <li><a href="/index.php?action=national_teams">各国代表</a></li>
        </ul>
    </div>
</div>

