
<div class="main">
    <div class="card">
        <h1>Next Match</h1>
        <div style="display: flex; flex-direction: row; justify-content: center; gap:40px;">
            <div class="align-items-center">
                <img src="templates/images/national-flag/japan.png" alt="japan-flag" style="width:100px; border-color: black; margin-right: 10px;">
                <h3>日本 × オランダ</h3>
                <img src="templates/images/national-flag/Netherlands.png" alt="Netherlands-flag" style="width:100px; border-color: black; margin-left: 10px;">
            </div>
        </div>
        <h3 class="mt-0">6.15(月) 5:00<small>（日本時間）</small></h3>
        <a href="#" class="btn">日程表を見る</a>

    </div>
    <h2>初心者はこちらから</h2>
    <div class="top-pickup-list">
        <a href="/index.php?action=/world_cup_about/world_cup_overview" class="btn">ワールドカップとは</a>
        <a href="/index.php?action=glossary" class="btn">用語集</a>
        <a href="#" class="btn">日程表</a>
        <a href="/index.php?action=diagnosis/diagnosis_start" class="btn">応援する国迷ったら</a>
    </div>
    <script src="/study/初めてのJavaScript/4章.js"></script>
</div>