<!--グループごとに４か国出すかきかたはAIが出したからわかんね-->
<h1>参加国一覧</h1>
{assign var=groups value=["GROUP_A","GROUP_B","GROUP_C","GROUP_D","GROUP_E","GROUP_F","GROUP_G","GROUP_H","GROUP_I","GROUP_J","GROUP_K","GROUP_L"]}

{foreach $countries as $country name=loop}

{if $smarty.foreach.loop.index % 4 == 0}
<h2>{$smarty.const[$groups[$smarty.foreach.loop.index/4]]}</h2>
{/if}

<a href="/index.php?action=country_detail&country_id={$country->getId()}">
    {$country->getName()}
</a><br>
<img src="/templates/images/national-flag/{$country->getFlagImagePath()}" alt="flag" height=240 width=360>
{/foreach}



