
<h1>参加国一覧</h1>

{foreach $countries as $country}
<a href="/index.php?action=country_detail&country_id={$country.id}">{$country.name}</a><br>
{/foreach}
<h2>{$smarty.const.GROUP_A}</h2>
<h2>{$smarty.const.GROUP_B}</h2>
<h2>{$smarty.const.GROUP_C}</h2>
<h2>{$smarty.const.GROUP_D}</h2>
<h2>{$smarty.const.GROUP_E}</h2>
<h2>{$smarty.const.GROUP_F}</h2>
<h2>{$smarty.const.GROUP_G}</h2>
<h2>{$smarty.const.GROUP_H}</h2>
<h2>{$smarty.const.GROUP_I}</h2>
<h2>{$smarty.const.GROUP_J}</h2>
<h2>{$smarty.const.GROUP_K}</h2>
<h2>{$smarty.const.GROUP_L}</h2>



