<!--全ての共通のHTMLテンプレート-->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{$title|default:"Niwaka World Cup Navi"}</title>
    <!-- ①Bootstrap CSS 追加 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/templates/css/header.css">
    <link rel="stylesheet" href="/templates/css/country-detail.css">
    <link rel="stylesheet" href="/templates/css/index.css">
    <link rel="stylesheet" href="/templates/css/japan-team.css">
    <link rel="stylesheet" href="/templates/css/national_teams.css">
    <link rel="stylesheet" href="/templates/css/pc.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header>
<!--    決まった名前のファイルを持ってくるのはincludeを使う-->
    {include file="header.html"}
</header>
<main>
<!--    ここにページごとの内容を入れることができる(htnl側で)-->
    {include file=$filename}
</main>
<footer>
    {include file="footer.html"}
</footer>
<!-- ②Bootstrap JS 追加 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>