<!--全ての共通のHTMLテンプレート-->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{$title|default:"Niwaka World Cup Navi"}</title>
    <link rel="stylesheet" href="/templates/css/header.css">
    <link rel="stylesheet" href="/templates/css/country-detail.css">
    <link rel="stylesheet" href="/templates/css/index.css">
    <link rel="stylesheet" href="/templates/css/japan-team.css">
    <link rel="stylesheet" href="/templates/css/national_teams.css">
    <link rel="stylesheet" href="/templates/css/pc.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<!--背景画像をここで入れている-->
<body style="background-image: url('../templates/images/background.png'); background-size: cover; background-repeat: no-repeat;">
<header>
<!--    決まった名前のファイルを持ってくるのはincludeを使う-->
    {include file="header.html"}
</header>
<main>
<!--    ここにページごとの内容を入れることができる(htnl側で)-->
    {include file=$filename}
</main>
<footer>
    {include file="footer.html"}
</footer>
</body>
</html>