<h1 class="text_center">Q3 新しいことを始めるときは？</h1>

<!--nameのanswerをキー、valueのアルファベットを値として、ユーザーの回答を$_POSTにいれている-->
<form action="/index.php?action=diagnosis/diagnosis_q4" method="post">
    <div class="text_center flex-direction-column gap-4px">
        <button class="width-400 font-size-24px" name="answer" value="A">とりあえずやってみる</button>
        <button class="width-400 font-size-24px" name="answer" value="B">少しは調べてからやる</button>
        <button class="width-400 font-size-24px" name="answer" value="C">しっかり準備してからやる</button>
    </div>
</form>